@media only screen and(min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

#saveCode {
    height: 700px;
    width: 100%;
}

#codemain {
    height: 800px;
}

@media only screen and (min-width: 48em) {
    .header, .marketing, .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .jumbotron {
        border-bottom: 0;
    }
}

.control li {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
    font-weight: 400;
    color: white;
}

#container {
    width: 760px;
    height: 200px;
}

@media only screen and (max-width: 960px) {
    #container {
        width: 460px;
    }
}

.controller-corner {
    width: 10px;
    height: 10px;
    background-color: rgba(153, 205, 214, 0.705);
    position: absolute;
}

.editable {
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

* {
    padding: 0;
    margin: 0;
}

.tempDiv {
    border: 1px dashed blue;
    background: #5a72f8;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0.1;
}

#img_input2 {
    display: none;
}

#img_label2 {
    border-radius: 5px;
    display: inline-block;
}

.nav-pills {
    margin-top: 10px;
}

.nav-pills {
    margin-top: 10px;
}

.nav-link {
    display: table;
    padding: 1rem;
}

#savecode {
    height: 800px;
    width: 100%;
}

#EditBarCodeError {
    color: red;
}

#setBox {
    width: 200px;
    height: 610px;
    z-index: 2;
    margin-top: 30px;
    background-color: #444;
}

#setBox .printformatset {
    font-size: 16px;
    color: white;
    text-align: left;
    margin: 10px 0 10px 0;
}

#setBox .control span {
    font-size: 13px;
}

.xyInput {
    display: flex;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem
}

#printformatSave {
    margin-top: 20px
}

#printText {
    color: white;
    display: none;
}